<ul class="news__list">
  <li class="news__item">
    <article class="news-card">
      <img
        srcset="./img/news/news-2.jpg 1x, ./img/news/news-2@2x.jpg 2x"
        src="./img/news/news-2.jpg"
        alt=""
        width="512"
        height="222"
        class="news-card__image"
        loading="lazy"
      />
      <div class="news-card__body">
        <h2 class="news-card__title h6">
          A Decisive Victory for Progressive Policies
        </h2>
        <div class="news-card__description">
          <p>Politics</p>
        </div>
      </div>
      <div class="news-card__controls">
        <div class="news-card__actions blog-actions">
          <ul class="blog-actions__list">
            <li class="blog-actions__item">
              <button
                class="blog-actions__button blog-actions__button--like"
                type="button"
                aria-label="Like"
                title="Like"
              >
                <span class="blog-actions__icon-wrapper">
                  <svg width="24" height="25">
                    <use href="./img/sprite.svg#icon-like"></use>
                  </svg>
                </span>
                <span>2.2k</span>
              </button>
            </li>
            <li class="blog-actions__item">
              <button
                class="blog-actions__button"
                type="button"
                aria-label="Share"
                title="Share"
              >
                <span class="blog-actions__icon-wrapper">
                  <svg width="24" height="25">
                    <use href="./img/sprite.svg#icon-share"></use>
                  </svg>
                </span>
                <span>60</span>
              </button>
            </li>
          </ul>
        </div>
        <a class="news-card__link button" href="/">
          <span class="icon icon--yellow-arrow">Read More</span>
        </a>
      </div>
    </article>
  </li>
  <li class="news__item">
    <article class="news-card">
      <img
        srcset="./img/news/news-3.jpg 1x, ./img/news/news-3@2x.jpg 2x"
        src="./img/news/news-3.jpg"
        alt=""
        width="512"
        height="222"
        class="news-card__image"
        loading="lazy"
      />
      <div class="news-card__body">
        <h2 class="news-card__title h6">
          Tech Giants Unveil Cutting-Edge AI Innovations
        </h2>
        <div class="news-card__description">
          <p>Technology</p>
        </div>
      </div>
      <div class="news-card__controls">
        <div class="news-card__actions blog-actions">
          <ul class="blog-actions__list">
            <li class="blog-actions__item">
              <button
                class="blog-actions__button blog-actions__button--like"
                type="button"
                aria-label="Like"
                title="Like"
              >
                <span class="blog-actions__icon-wrapper">
                  <svg width="24" height="25">
                    <use href="./img/sprite.svg#icon-like"></use>
                  </svg>
                </span>
                <span>6k</span>
              </button>
            </li>
            <li class="blog-actions__item">
              <button
                class="blog-actions__button"
                type="button"
                aria-label="Share"
                title="Share"
              >
                <span class="blog-actions__icon-wrapper">
                  <svg width="24" height="25">
                    <use href="./img/sprite.svg#icon-share"></use>
                  </svg>
                </span>
                <span>92</span>
              </button>
            </li>
          </ul>
        </div>
        <a class="news-card__link button" href="/">
          <span class="icon icon--yellow-arrow">Read More</span>
        </a>
      </div>
    </article>
  </li>
  <li class="news__item">
    <article class="news-card">
      <img
        srcset="./img/news/news-4.jpg 1x, ./img/news/news-4@2x.jpg 2x"
        src="./img/news/news-4.jpg"
        alt=""
        width="512"
        height="222"
        class="news-card__image"
        loading="lazy"
      />
      <div class="news-card__body">
        <h2 class="news-card__title h6">COVID-19 Variants</h2>
        <div class="news-card__description">
          <p>Health</p>
        </div>
      </div>
      <div class="news-card__controls">
        <div class="news-card__actions blog-actions">
          <ul class="blog-actions__list">
            <li class="blog-actions__item">
              <button
                class="blog-actions__button blog-actions__button--like"
                type="button"
                aria-label="Like"
                title="Like"
              >
                <span class="blog-actions__icon-wrapper">
                  <svg width="24" height="25">
                    <use href="./img/sprite.svg#icon-like"></use>
                  </svg>
                </span>
                <span>10k</span>
              </button>
            </li>
            <li class="blog-actions__item">
              <button
                class="blog-actions__button"
                type="button"
                aria-label="Share"
                title="Share"
              >
                <span class="blog-actions__icon-wrapper">
                  <svg width="24" height="25">
                    <use href="./img/sprite.svg#icon-share"></use>
                  </svg>
                </span>
                <span>124</span>
              </button>
            </li>
          </ul>
        </div>
        <a class="news-card__link button" href="/">
          <span class="icon icon--yellow-arrow">Read More</span>
        </a>
      </div>
    </article>
  </li>
</ul>
