<section class="section tabs" aria-labelledby="reports-title" data-js-tabs>
  <header class="section__header">
    <div class="section__header-inner container">
      <div class="section__header-info">
        <p class="section__subtitle tag">Dive into the Details</p>
        <h2 class="section__title" id="reports-title">
          In-Depth Reports and Analysis
        </h2>
      </div>
      <div class="section__actions">
        <div
          class="tabs__buttons tabs__buttons--compact"
          role="tablist"
          aria-labelledby="reports-title"
        >
          <button
            class="tabs__button is-active"
            id="tab-1"
            type="button"
            role="tab"
            aria-controls="tabpanel-1"
            data-js-tabs-button
            aria-selected="true"
          >
            Whitepapers
          </button>
          <button
            class="tabs__button"
            id="tab-2"
            type="button"
            role="tab"
            aria-controls="tabpanel-2"
            data-js-tabs-button
            aria-selected="false"
            tabindex="-1"
          >
            Ebooks
          </button>
          <button
            class="tabs__button"
            id="tab-3"
            type="button"
            role="tab"
            aria-controls="tabpanel-3"
            data-js-tabs-button
            aria-selected="false"
            tabindex="-1"
          >
            Reports
          </button>
        </div>
      </div>
    </div>
  </header>
  <div class="section__body">
    <div class="tabs__body">
      <div
        class="tabs__content is-active"
        id="tabpanel-1"
        aria-labelledby="tab-1"
        tabindex="0"
        data-js-tabs-content
      >
        <ul class="list">
          <li class="list__item">
            <div class="card container">
              <div class="card__preview">
                <div class="card__preview-main">
                  <svg class="card__preview-icon" width="60" height="60">
                    <use href="./../img/sprite.svg#icon-reports-1"></use>
                  </svg>
                  <div class="card__preview-info">
                    <h3 class="card__preview-title">
                      Quantum Computing Whitepaper
                    </h3>
                    <div class="card__preview-description">
                      <p>
                        Provides technical specifications and requirements for
                        implementing quantum computing systems.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__grid card__grid--3-cols-alt">
                  <div class="card__cell card__cell--wide">
                    <img
                      srcset="
                        ./img/reports/card-1.jpg    1x,
                        ./img/reports/card-1@2x.jpg 2x
                      "
                      src="./img/reports/card-1.jpg"
                      alt=""
                      width="917"
                      height="332"
                      class="card__cell-image"
                      loading="lazy"
                    />
                  </div>
                  <div class="card__cell card__cell--wide">
                    <h4 class="card__cell-title">
                      Quantum Computing Whitepaper
                    </h4>
                    <p class="card__cell-description">
                      An in-depth whitepaper exploring the principles,
                      applications, and potential impact of quantum computing.
                    </p>
                    <a
                      class="card__cell-link button button--dark-gray"
                      href="/"
                      download
                    >
                      <span class="icon icon--yellow-arrow"
                        >Download PDF Now</span
                      >
                    </a>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Publication Date</p>
                    <p class="card__cell-description h6">
                      <time datetime="2023-07">July 2023</time>
                    </p>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Category</p>
                    <p class="card__cell-description h6">Quantum Computing</p>
                  </div>
                  <div class="card__cell tile card__cell--wide-on-mobile-s">
                    <p class="card__cell-title">Author</p>
                    <p class="card__cell-description h6">Dr. Quantum</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="list__item">
            <div class="card container">
              <div class="card__preview">
                <div class="card__preview-main">
                  <svg class="card__preview-icon" width="60" height="60">
                    <use href="./../img/sprite.svg#icon-reports-2"></use>
                  </svg>
                  <div class="card__preview-info">
                    <h3 class="card__preview-title">
                      Space Exploration Whitepaper
                    </h3>
                    <div class="card__preview-description">
                      <p>
                        Explores Mars colonization, asteroid resource potential,
                        and space tourism.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__grid card__grid--3-cols-alt">
                  <div class="card__cell card__cell--wide">
                    <img
                      srcset="
                        ./img/reports/card-2.jpg    1x,
                        ./img/reports/card-2@2x.jpg 2x
                      "
                      src="./img/reports/card-2.jpg"
                      alt=""
                      width="917"
                      height="332"
                      class="card__cell-image"
                      loading="lazy"
                    />
                  </div>
                  <div class="card__cell card__cell--wide">
                    <h4 class="card__cell-title">
                      Space Exploration Whitepaper
                    </h4>
                    <p class="card__cell-description">
                      An in-depth whitepaper covering the latest advancements in
                      space exploration, including Mars missions and asteroid
                      mining.
                    </p>
                    <a
                      class="card__cell-link button button--dark-gray"
                      href="/"
                      download
                    >
                      <span class="icon icon--yellow-arrow"
                        >Download PDF Now</span
                      >
                    </a>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Publication Date</p>
                    <p class="card__cell-description h6">
                      <time datetime="2023-09">September 2023</time>
                    </p>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Category</p>
                    <p class="card__cell-description h6">Space Exploration</p>
                  </div>
                  <div class="card__cell tile card__cell--wide-on-mobile-s">
                    <p class="card__cell-title">Author</p>
                    <p class="card__cell-description h6">
                      FutureTech Space Division
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="bordered-grid bordered-grid--3-cols container">
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                srcset="
                  ./img/reports/card-3.jpg    1x,
                  ./img/reports/card-3@2x.jpg 2x
                "
                src="./img/reports/card-3.jpg"
                alt=""
                width="470"
                height="290"
                class="report-card__image"
                loading="lazy"
              />
              <div class="report-card__body">
                <h3 class="report-card__title h6">FutureTech Trends 2024</h3>
                <div class="report-card__description">
                  <p>
                    An ebook that predicts upcoming technology trends for the
                    next year, including AI developments
                  </p>
                </div>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="/">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="/"
                  download
                >
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                srcset="
                  ./img/reports/card-4.jpg    1x,
                  ./img/reports/card-4@2x.jpg 2x
                "
                src="./img/reports/card-4.jpg"
                alt=""
                width="470"
                height="290"
                class="report-card__image"
                loading="lazy"
              />
              <div class="report-card__body">
                <h3 class="report-card__title h6">Space Exploration Ebook</h3>
                <div class="report-card__description">
                  <p>
                    An ebook that predicts upcoming technology trends for the
                    next year, including AI developments
                  </p>
                </div>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="/">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="/"
                  download
                >
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                srcset="
                  ./img/reports/card-5.jpg    1x,
                  ./img/reports/card-5@2x.jpg 2x
                "
                src="./img/reports/card-5.jpg"
                alt=""
                width="470"
                height="290"
                class="report-card__image"
                loading="lazy"
              />
              <div class="report-card__body">
                <h3 class="report-card__title h6">
                  Quantum Computing Whitepaper
                </h3>
                <div class="report-card__description">
                  <p>
                    An in-depth whitepaper exploring the principles,
                    applications.
                  </p>
                </div>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="/">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="/"
                  download
                >
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="tabs__content"
        id="tabpanel-2"
        aria-labelledby="tab-2"
        tabindex="0"
        data-js-tabs-content
      >
        <ul class="list">
          <li class="list__item">
            <div class="card container">
              <div class="card__preview">
                <div class="card__preview-main">
                  <svg class="card__preview-icon" width="60" height="60">
                    <use href="./../img/sprite.svg#icon-reports-1"></use>
                  </svg>
                  <div class="card__preview-info">
                    <h3 class="card__preview-title">Renewable Energy Ebook</h3>
                    <div class="card__preview-description">
                      <p>
                        Examines renewable energy technologies, sustainable
                        power generation, and innovations accelerating the
                        global energy transition.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__grid card__grid--3-cols-alt">
                  <div class="card__cell card__cell--wide">
                    <img
                      srcset="
                        ./img/reports/card-1.jpg    1x,
                        ./img/reports/card-1@2x.jpg 2x
                      "
                      src="./img/reports/card-1.jpg"
                      alt=""
                      width="917"
                      height="332"
                      class="card__cell-image"
                      loading="lazy"
                    />
                  </div>
                  <div class="card__cell card__cell--wide">
                    <h4 class="card__cell-title">
                      Renewable Energy: Powering a Sustainable World
                    </h4>
                    <p class="card__cell-description">
                      Explore solar, wind, and other renewable energy
                      technologies, including energy storage solutions and
                      strategies for building a cleaner, more sustainable
                      future.
                    </p>
                    <a
                      class="card__cell-link button button--dark-gray"
                      href="/"
                      download
                    >
                      <span class="icon icon--yellow-arrow"
                        >Download Ebook</span
                      >
                    </a>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Publication Date</p>
                    <p class="card__cell-description h6">
                      <time datetime="2026-10">October 2026</time>
                    </p>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Category</p>
                    <p class="card__cell-description h6">Renewable Energy</p>
                  </div>
                  <div class="card__cell tile card__cell--wide-on-mobile-s">
                    <p class="card__cell-title">Author</p>
                    <p class="card__cell-description h6">Dr. Michael Bennett</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="bordered-grid bordered-grid--3-cols container">
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                srcset="
                  ./img/reports/card-3.jpg    1x,
                  ./img/reports/card-3@2x.jpg 2x
                "
                src="./img/reports/card-3.jpg"
                alt=""
                width="470"
                height="290"
                class="report-card__image"
                loading="lazy"
              />
              <div class="report-card__body">
                <h3 class="report-card__title h6">FutureTech Trends 2024</h3>
                <div class="report-card__description">
                  <p>
                    An ebook that predicts upcoming technology trends for the
                    next year, including AI developments
                  </p>
                </div>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="/">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="/"
                  download
                >
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                srcset="
                  ./img/reports/card-5.jpg    1x,
                  ./img/reports/card-5@2x.jpg 2x
                "
                src="./img/reports/card-5.jpg"
                alt=""
                width="470"
                height="290"
                class="report-card__image"
                loading="lazy"
              />
              <div class="report-card__body">
                <h3 class="report-card__title h6">
                  Quantum Computing Whitepaper
                </h3>
                <div class="report-card__description">
                  <p>
                    An in-depth whitepaper exploring the principles,
                    applications.
                  </p>
                </div>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="/">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="/"
                  download
                >
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                srcset="
                  ./img/reports/card-4.jpg    1x,
                  ./img/reports/card-4@2x.jpg 2x
                "
                src="./img/reports/card-4.jpg"
                alt=""
                width="470"
                height="290"
                class="report-card__image"
                loading="lazy"
              />
              <div class="report-card__body">
                <h3 class="report-card__title h6">Space Exploration Ebook</h3>
                <div class="report-card__description">
                  <p>
                    An ebook that predicts upcoming technology trends for the
                    next year, including AI developments
                  </p>
                </div>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="/">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="/"
                  download
                >
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="tabs__content"
        id="tabpanel-3"
        aria-labelledby="tab-3"
        tabindex="0"
        data-js-tabs-content
      >
        <ul class="list">
          <li class="list__item">
            <div class="card container">
              <div class="card__preview">
                <div class="card__preview-main">
                  <svg class="card__preview-icon" width="60" height="60">
                    <use href="./../img/sprite.svg#icon-reports-2"></use>
                  </svg>
                  <div class="card__preview-info">
                    <h3 class="card__preview-title">
                      Quantum Computing Research Report
                    </h3>
                    <div class="card__preview-description">
                      <p>
                        An analytical report on quantum computing advancements,
                        industry applications, and emerging technological
                        trends.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card__body">
                <div class="card__grid card__grid--3-cols-alt">
                  <div class="card__cell card__cell--wide">
                    <img
                      srcset="
                        ./img/reports/card-2.jpg    1x,
                        ./img/reports/card-2@2x.jpg 2x
                      "
                      src="./img/reports/card-2.jpg"
                      alt=""
                      width="917"
                      height="332"
                      class="card__cell-image"
                      loading="lazy"
                    />
                  </div>
                  <div class="card__cell card__cell--wide">
                    <h4 class="card__cell-title">
                      The Quantum Computing Landscape: Research and Industry
                      Insights
                    </h4>
                    <p class="card__cell-description">
                      This report examines recent developments in quantum
                      hardware, quantum algorithms, and practical applications.
                      It highlights current limitations, investment trends, and
                      opportunities for future research and commercial adoption.
                    </p>
                    <a
                      class="card__cell-link button button--dark-gray"
                      href="/"
                      download
                    >
                      <span class="icon icon--yellow-arrow"
                        >Download Report</span
                      >
                    </a>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Publication Date</p>
                    <p class="card__cell-description h6">
                      <time datetime="2026-07">July 2026</time>
                    </p>
                  </div>
                  <div class="card__cell tile">
                    <p class="card__cell-title">Category</p>
                    <p class="card__cell-description h6">Quantum Computing</p>
                  </div>
                  <div class="card__cell tile card__cell--wide-on-mobile-s">
                    <p class="card__cell-title">Author</p>
                    <p class="card__cell-description h6">
                      Research & Technology Team
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="bordered-grid bordered-grid--3-cols container">
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                srcset="
                  ./img/reports/card-4.jpg    1x,
                  ./img/reports/card-4@2x.jpg 2x
                "
                src="./img/reports/card-4.jpg"
                alt=""
                width="470"
                height="290"
                class="report-card__image"
                loading="lazy"
              />
              <div class="report-card__body">
                <h3 class="report-card__title h6">Space Exploration Ebook</h3>
                <div class="report-card__description">
                  <p>
                    An ebook that predicts upcoming technology trends for the
                    next year, including AI developments
                  </p>
                </div>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="/">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="/"
                  download
                >
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                srcset="
                  ./img/reports/card-3.jpg    1x,
                  ./img/reports/card-3@2x.jpg 2x
                "
                src="./img/reports/card-3.jpg"
                alt=""
                width="470"
                height="290"
                class="report-card__image"
                loading="lazy"
              />
              <div class="report-card__body">
                <h3 class="report-card__title h6">FutureTech Trends 2024</h3>
                <div class="report-card__description">
                  <p>
                    An ebook that predicts upcoming technology trends for the
                    next year, including AI developments
                  </p>
                </div>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="/">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="/"
                  download
                >
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
          <li class="bordered-grid__item">
            <div class="report-card">
              <img
                srcset="
                  ./img/reports/card-5.jpg    1x,
                  ./img/reports/card-5@2x.jpg 2x
                "
                src="./img/reports/card-5.jpg"
                alt=""
                width="470"
                height="290"
                class="report-card__image"
                loading="lazy"
              />
              <div class="report-card__body">
                <h3 class="report-card__title h6">
                  Quantum Computing Whitepaper
                </h3>
                <div class="report-card__description">
                  <p>
                    An in-depth whitepaper exploring the principles,
                    applications.
                  </p>
                </div>
              </div>
              <div class="report-card__actions">
                <a class="report-card__details-link button" href="/">
                  View Details
                </a>
                <a
                  class="report-card__download-link button button--dark-gray"
                  href="/"
                  download
                >
                  Download PDF Now
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
