<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__body">
      <nav class="footer__menu">
        <div class="footer__menu-column">
          <a class="footer__menu-main-link h6" href="./index.html">Home</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./index.html#features"
                >Features</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./blog.html">Blogs</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./resources.html">Resources</a>
              <span class="badge">New</span>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./index.html#testimonials"
                >Testimonials</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./contacts.html">Contact Us</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./index.html">Newsletter</a>
            </li>
          </ul>
        </div>
        <div class="footer__menu-column">
          <a class="footer__menu-main-link h6" href="./news.html">News</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./index.html"
                >Trending Stories</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./news.html#videos"
                >Featured Videos</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./index.html">Technology</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./index.html">Health</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./index.html">Politics</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./index.html">Environment</a>
            </li>
          </ul>
        </div>
        <div class="footer__menu-column">
          <a class="footer__menu-main-link h6" href="./blog.html">Blogs</a>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./blog.html"
                >Quantum Computing</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./blog.html">AI Ethics</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./blog.html"
                >Space Exploration</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./blog.html">Biotechnology</a>
              <span class="badge">New</span>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./blog.html"
                >Renewable Energy</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./blog.html">Biohacking</a>
            </li>
          </ul>
        </div>
        <div class="footer__menu-column">
          <a class="footer__menu-main-link h6" href="./podcasts.html"
            >Podcasts</a
          >
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./podcasts.html"
                >AI Revolution</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./podcasts.html"
                >AI Revolution</a
              >
              <span class="badge">New</span>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./podcasts.html"
                >TechTalk AI</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="./podcasts.html"
                >AI Conversations</a
              >
            </li>
          </ul>
        </div>
        <div class="footer__menu-column">
          <a class="footer__menu-main-link h6" href="./resources.html"
            >Resources</a
          >
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link button" href="./resources.html">
                <span class="icon icon--yellow-arrow">Whitepapers</span>
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link button" href="./resources.html">
                <span class="icon icon--yellow-arrow">Ebooks</span>
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link button" href="./resources.html">
                <span class="icon icon--yellow-arrow">Reports</span>
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link button" href="./resources.html">
                <span class="icon icon--yellow-arrow">Research Papers</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="footer__extra">
      <div class="footer__extra-menu">
        <ul class="footer__extra-menu-list">
          <li class="footer__extra-menu-item">
            <a class="footer__extra-menu-link" href="./contacts.html"
              >Terms & Conditions</a
            >
          </li>
          <li class="footer__extra-menu-item">
            <a class="footer__extra-menu-link" href="./contacts.html"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__soc1als soc1als">
        <ul class="soc1als__list">
          <li class="soc1als__item">
            <a
              class="soc1als__link"
              href="/"
              target="_blank"
              aria-label="Twitter"
              title="Twitter"
            >
              <svg class="soc1als__icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="soc1als__item">
            <a
              class="soc1als__link"
              href="/"
              target="_blank"
              aria-label="Medium"
              title="Medium"
            >
              <svg class="soc1als__icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-medium"></use>
              </svg>
            </a>
          </li>
          <li class="soc1als__item">
            <a
              class="soc1als__link"
              href="/"
              target="_blank"
              aria-label="LinkedIn"
              title="LinkedIn"
            >
              <svg class="soc1als__icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-linked-in"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer__copyright">
        © <time datetime="2024">2024</time> FutureTech. All rights reserved.
      </p>
    </div>
  </div>
</footer>
